.skin-btn {
    position: absolute;
    display: flex;
}
.skin-btn li {
    width: 40px;
    height: 40px;
    margin: 15px 10px;
}
.skin-btn--red {
    background-color: #c11d24;
}
.skin-btn--orange {
    background-color: #ff7800;
}
.skin-btn--blue {
    background-color: #00d2ff;
}
